body{
    background-image: url(http://www.getuwired.com/devtest/Death_to_stock_photography_Vibrant.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

nav{
    background: white;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    color: rgb(58, 53, 53);
    font-size: 30px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 100px;
}

nav ul{
   float: right;
   list-style: none;
   margin-right: 40px;
   position: relative;
   /* text-align: center; */
}

nav ul li{
    float: left;
    display: inline-block;
    /* background: rgb(18, 187, 117); */
    margin: 0 5px;
    border-radius: 15px 15px 0px 0px;
}
nav ul li:hover{
    background: rgb(18, 187, 117);
    /* border-radius: 15px 15px 0px 0px; */
}

nav ul li a{
    color: rgb(24, 23, 23);
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
    padding-right: 40px;
}
nav ul ul li:hover{
    background: rgb(13, 138, 86);
    width: auto;
    border-radius: 0px;
}

nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    background: rgb(18, 187, 117);
    /* transition: top .3s; */
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    /* border-radius: 15px; */
}

nav ul ul li{
    position: relative;
    margin: 0;
    /* padding: 0; */
    width: auto;
    float: none;
    display: list-item;
    font-size: 10px;
    /* border-bottom: 1px solid rgba(0,0,0,0.3); */
    /* white-space: nowrap; */
}

nav ul ul li a{
    line-height: 50px;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 5px black;
    /* white-space: nowrap; */
}

/* nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
} */

/* n=borderbottom nav .hover 3px solid teal */